{% extends "base/base_auth.html" %}

{% load static %}

{% block title %}Авторизация - Academix{% endblock title %}

{% block content %}

{% csrf_token %}
<section>
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center">
                        <img src="{% static 'image/svg/logo.svg' %}" style="width: 185px;">
                      </div>
      
                      <div id="auth-block" class="">
                        <div class="form-outline mb-4 mt-4 small">
                          <label class="form-label d-flex align-items-center">
                              Ваш логин
                              <img src="{% static 'image/svg/icon-error.svg' %}" width="18px" class="ml-2 mx-1 d-none" id="icon-login-error"
                              data-bs-toggle="tooltip" data-bs-placement="top" title="Указанной учетной записи не существует">
                          </label>
                              <input type="email" id="username-input" class="form-control" placeholder="Введите Ваш логин" />
                        </div>
                        
                          <div class="form-outline mb-4 small">
                            <label class="form-label d-flex align-items-center">
                              Ваш пароль
                              <img src="{% static 'image/svg/icon-error.svg' %}" width="18px" class="ml-2 mx-1 d-none" id="icon-password-error"
                              data-bs-toggle="tooltip" data-bs-placement="top" title="Указанный пароль не соответствует указанной учетной записи">
                              <i id="toggle-password" onclick="show_password()">
                                <img src="{% static 'image/svg/icon-password-eye.svg' %}" width="25px" class="ml-2 mx-1" 
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Нажмите, чтобы увидеть Ваш пароль" id="icon-email-error">
                              </i>
                            </label>
                            <input type="password" id="password-input" class="form-control" placeholder="Введите Ваш пароль"/>
                          </div>
  
                          <div class="text-center pt-1 mb-5 pb-1">
                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2" type="button" id="login-button" onclick="send_opt_code()">
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                                <span id="button-text">Авторизоваться</span>
                            </button>
                            <hr>
                            <a class="text-muted" href="{% url 'reset_password' %}">Забыли пароль?</a>
                        </div>
                      </div>
                      <div id="otp-block" class="d-none">
                        <div class="container mt-4">
                          <div class="row justify-content-center">
                            <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 text-center">
                              <div class="mb-3">
                                <div class="d-flex justify-content-between">
                                  <input type="text" class="form-control otp-input me-2" maxlength="1" pattern="\d" oninput="handle_input_otp(this)" required>
                                  <input type="text" class="form-control otp-input me-2" maxlength="1" pattern="\d" oninput="handle_input_otp(this)" required>
                                  <input type="text" class="form-control otp-input me-2" maxlength="1" pattern="\d" oninput="handle_input_otp(this)" required>
                                  <input type="text" class="form-control otp-input me-2" maxlength="1" pattern="\d" oninput="handle_input_otp(this)" required>
                                </div>
                                <div class="form-text text-center">Введите 4-значный одноразовый пароль.</div>
                              </div>
                              <button type="submit" class="btn btn-outline-primary btn-block">Подтвердить</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                        <h4 class="mb-4 text-center">Мы меняем образование</h4>
                        <p class="small mb-0 text-center">Мы верим в изменение будущего образования. 
                            Наша миссия - предоставить динамичную образовательную среду, которая дарит силу и студентам, и преподавателям. 
                            Мы - не просто компания, мы - удобство, комфорт и процветание будущего образования.
                        </p>
                        <p class="mt-5 text-center fw-bold">Наши соцсети</p>

                        <hr>
                        <div class="d-flex justify-content-center">
                            <a href="" class="mx-1 text-center"><img src="{% static 'image/svg/icon-vk.svg' %}" width="35px"></a>
                            <a href="" class="mx-1 text-center"><img src="{% static 'image/svg/icon-tg.svg' %}" width="35px"></a>
                            <a href="" class="mx-1 text-center"><img src="{% static 'image/svg/icon-yt.svg' %}" width="35px"></a>
                            <a href="" class="mx-1 text-center"><img src="{% static 'image/svg/icon-tw.svg' %}" width="35px"></a>
                            <a href="" class="mx-1 text-center"><img src="{% static 'image/svg/logo_none_text.svg' %}" width="35px"></a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</section>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/auth.js' %}"></script>
{% endblock scripts %}