{% extends "base/base_auth.html" %}

{% load static %}

{% block title %}Авторизация - Academix{% endblock title %}

{% block content %}

{% csrf_token %}
<section>
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center">
                        <img src="{% static 'image/svg/logo.svg' %}"
                          style="width: 185px;" alt="logo">
                      </div>
      
                      <form>
                        <div class="form-outline mb-4 mt-4 small">
                          <label class="form-label " for="form2Example11">Ваш логин</label>
                          <input type="email" id="form2Example11" class="form-control"
                            placeholder="Введите Ваш логин" />
                        </div>
      
                        <div class="form-outline mb-4 small">
                          <label class="form-label" for="form2Example22">Ваш пароль</label>
                          <input type="password" id="form2Example22" class="form-control" 
                          placeholder="Введите Ваш пароль"/>
                        </div>
      
                        <div class="text-center pt-1 mb-5 pb-1">
                          <button class="btn btn-primary btn-block fa-lg gradient-custom-2" type="button">Авторизоваться</button>
                          <hr>
                          <a class="text-muted" href="#!">Забыли пароль?</a>
                        </div>
                      </form>
      
                    </div>
                  </div>
                  <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                        <h4 class="mb-4 text-center">Мы меняем образование</h4>
                        <p class="small mb-0 text-center">Мы верим в изменение будущего образования. 
                            Наша миссия - предоставить динамичную образовательную среду, которая дарит силу и студентам, и преподавателям. 
                            Мы - не просто компания, мы - удобство, комфорт и процветание будущего образования.
                        </p>
                        <p class="mt-5 text-center fw-bold">Наши соцсети</p>

                        <hr>
                        <div class="d-flex justify-content-center">
                            <a href="" class="mx-1 text-center"><img src="{% static 'image/svg/icon-vk.svg' %}" width="35px"></a>
                            <a href="" class="mx-1 text-center"><img src="{% static 'image/svg/icon-tg.svg' %}" width="35px"></a>
                            <a href="" class="mx-1 text-center"><img src="{% static 'image/svg/icon-yt.svg' %}" width="35px"></a>
                            <a href="" class="mx-1 text-center"><img src="{% static 'image/svg/icon-tw.svg' %}" width="35px"></a>
                            <a href="" class="mx-1 text-center"><img src="{% static 'image/svg/logo_none_text.svg' %}" width="35px"></a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</section>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}